/* PAGE */
.edit-page {
  min-height: 100vh;
  background: #eaf6f7;
  position: relative;
  font-family: Arial, sans-serif;
}

/* JUDUL */
.page-title {
  text-align: center;
  margin-top: 30px;
  color: #7b7b7b;
}

/* CARD */
.edit-container {
  width: 80%;
  max-width: 900px;
  margin: 30px auto;
  padding: 30px 40px;
  background: rgba(238, 247, 248, 0.7);
  border-radius: 16px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
}

.edit-container h3 {
  margin-bottom: 20px;
  color: #4b8f93;
}
.edit-page {
  min-height: 100vh;
  position: relative; /* PENTING */
  background-image: url("../../assets/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #777;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

th {
  background-color: #ffffff;
  font-weight: 600;
  justify-content: center;   /* horizontal */
  align-items: center;       /* vertical */
}

/* BUTTON AKSI */
.btn-accept {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  margin-right: 5px;
  cursor: pointer;
}

.btn-reject {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

/* BUTTON KELUAR */
.btn-logout {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: #5fa3a6;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #4e8f92;
}

