/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* PAGE */
.laporan-page {
  min-height: 100vh;
  position: relative; /* PENTING */
  background-image: url("../../assets/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: #6aa6aa;
  height: 60px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 2;
}

.brand {
  font-size: 20px;
  font-weight: 600;
}

.nav-right {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 14px;
}

.nav-right li {
  cursor: pointer;
}

.nav-right .active {
  font-weight: 600;
}

/* CARD LAPORAN */
.laporan-container {
  width: 1160px;
  height: 650px;
  padding: 40px 45px;
  border-radius: 14px;
  background: rgba(238, 247, 248, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.laporan-container h3 {
  margin-bottom: 25px;
  color: #4b8f93;
}

/* ITEM LAPORAN */
.laporan-item {
  border: 1px solid #bfcfd2;
  border-radius: 6px;
  padding: 10px 14px;
  margin-bottom: 12px;
  background-color: #ffffff;
}

.laporan-item strong {
  display: block;
  font-size: 14px;
  color: #333;
}

.laporan-item span {
  font-size: 13px;
  color: #666;
}

/* BUTTON */
.btn-edit {
  width: 100%;
  height: 42px;
  margin-top: 20px;
  background-color: #5fa3a6;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #4e8f92;
}
